.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "titulo"
    "area-ppal";
}

.titulo {
 grid-area: titulo;
  text-align: center;

}

.area-ppal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Descripcion"
    "Descripcion"
    "boton-de-inicio";
  grid-area: area-ppal;
}

.boton-de-inicio { 
  grid-area: boton-de-inicio; 
  text-align: center;
}

.descripcion { 
  grid-area: Descripcion;
  text-align: center;
}
