.grid-container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-template-areas:
      "categoria"
      "Pregunta";
  }
  .categoria { grid-area: categoria; }
  .Pregunta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
      "tarjeta"
      "num-pregunta";
    grid-area: Pregunta;
  }
  .tarjeta { grid-area: tarjeta; margin: auto;}
  .num-pregunta { grid-area: num-pregunta; }
  .botones{
    display: block;
    
    text-align: center;
  }
  h1{
    text-align: center;
  }